body {
    margin: 0px;
    overflow: hidden;
}

#level_one {
    background-image: url('../assets/seamless-space-backgrounds/1024x1024/blue-nebula/8.png');
    /* background-size: contain; */
    position: absolute;
}

nav {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 64px;
    top: 0px;
    left: 0px;
    z-index: 1;
}
